* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav, #carouselExampleCaptions, #h1, #card__container {
    background-color: #1b1b1b;
} */

.myBgColor {
    background-color: #1b1b1b;
}


.parallax_1 {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.parallax_1>div {
    width: 100%;
    min-height: 500px;
    background-color: rgba(255, 255, 255, 0.1);
}

.lawyer_card {
    background-position: center;
    background-size: cover;
    height: 200px;
}